page-news-details {
    .toolbar-background {
        background: #00bfff;
    }
    .toolbar-title {
        font-size: 2rem;
        font-weight: 500;
        color: #fff;
        padding: 0px 12px;
    }
}
